
.header_main{
    width: 100%;
    display: flex;
}
.header_main .col-md-3{
    width: 25%;
}
.header_main .col-md-6{
    width: 50%;
    padding: 10px;
    text-align: center;
}
.header_main input{
        border: 1px solid grey;
        width: 64%;
        padding: 10px;
        border-radius: 20px;
}
.header_main .icons img{
    float: right;
    padding: 15px 55px 5px 15px;
}
.header_main .menu_bar button {
    background: none;
    border: none;
    padding: 16px 12px 15px 20px;
    cursor: pointer;
}